html, body, .barra-de-navegacion, ul,.sub-parrafo-container p {   /*le saco padding y margin para que mi navbar este pegada arriba*/
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}
body {
    background: rgb(116, 116, 116);
}
*::selection{
    background: rgb(122, 177, 41);
    color: #fff;
}

.barra-de-navegacion {                                           /* solo afecta a los clase navbar */
    list-style: none;
    background: #0B0270;                                 /*aca defino la altura de guia digamos. despues los que estan "adentro" de la clase navbar*/
    height: 4rem;                                                  /*si les tiro height: 100%; van a heredar la altura de este, y el alineamiento vertical de los otros lo*/                                                       
    -webkit-box-shadow: 0 8px 6px -6px #999;      /*voy retocando con el line-height: 2.6 , ej. el q tengo en li a */
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;
    position: fixed; 
    display: inline-block;
    top: 0;
    z-index: 5;

}
.barra-de-navegacion li {
    display: inline;
}
.barra-de-navegacion > li+li:nth-child(n) {            /*recorre la lista de li. el li+li hace q saltee al primero*/
    border-left: 2px solid #ffffff;
}
.barra-de-navegacion .item-barra-navegacion .navbar-boton {                                  /* solo afecta a los barra-de-navegacion->item-barra-navegacion->navbar-boton */
    width: auto;                                                                              /*pero no solo eso, tambien el item-barra-navegacion es visto desde barrade-navegacion*/
    height: 100%;                                                                           /*y el navbar-boton es visto desde el item-barra-navegacion, entonces por ej*/
    background: transparent;                                                                    /*si le tiro right:50% va a ser el 50% del tamaño de */
    text-decoration: none;
    font-family: 'quicksand', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.7rem;
    padding-left: 2rem;
    padding-right: 2rem;
    transition: all 0.3s ease .01s;
    text-align: center;
    display: flex;
    align-items: center;
}                                 
.barra-de-navegacion .item-barra-navegacion .navbar-boton:hover{                
    background: #0B0270;                                                        /* hover de los navbar-item -> a, en hover*/
    box-shadow: 0 5px 8.896px #9b9b9b,0 0px 0px rgb(112, 112, 112);             /*afecta a a en hover de cada uno*/
    /*border-radius: 50px;*/
}
.barra-de-navegacion .item-barra-navegacion .navbar-boton:active{                                    /* click de los navbar-item -> a*/
    background-color: #1304BD;
    transition: 0s;
    opacity: 0.7;
}
.item-barra-navegacion{
    height: 100%;
}

.barra-de-navegacion .navbar-item-right{                                  /* solo afecta a los clase navbar-item-right */
    float: right;
}

.icono-navbar{                                           /* solo afecta a los id logo */
    /*border: 1px solid black;*/
    /*border-radius: 30px;*/
    width: auto;
    height: 100%;
    float: left;
    background: transparent;
}     
.icono-shop{
    background: transparent;
    margin: 0 1rem 0 1rem;
} 
.icono-home{    
    margin-left: 50%;
    transform: translateX(-50%);
}
.big-container {
    color: #000000;
    margin: auto;
    padding: 2rem 0 2rem 0;
    display: flex;
    min-height: fit-content;
}
#first-big-container{
    min-height: max-content;
    margin-top: 4rem;
    padding: 1rem;
    padding: 3rem 4rem;
}
@media screen and (max-width: 1000px){
    .barra-de-navegacion{
        height: 7rem;
    }
    .icono-home{
        margin-left: 1rem;
        transform: translateX(50%);
    }
    #first-big-container{        
        margin-top: 7rem;
    }
}
.white-big-container{
    background: #fff;
}
.grey-big-container{    
    background: #ebebeb;
}
.sub-img-and-header-container{
    width: 80%;
    margin: 0 25%;
    display: inline-block;    
}
.sub-video-and-header-container{
    width:80%;
    margin: 0 15%;
    display: inline-block;
}
.sub-video-container{
    margin: 1rem 3rem 1rem 0;
    height: 315px;
    width: 560px;
    display: block;
    float: left;
}
.sub-video2-and-header-container{
    width:50%;
    margin: 5% auto 5% auto;
    display: inline-block;
}
.sub-video2-container{
    margin: auto;
    margin-bottom: 2%;
    height: 315px;
    width: 560px;
    display: block;
}
.sub-video2-and-header-container > .sub-parrafo-container{
    max-height: 15rem;
}
.sub-video2-and-header-container > .sub-header-container{
    background: hotpink;
}

.sub-img-container{
    margin: 1rem 3rem 1rem 0;    
    height: 15rem;
    width: 15rem;
    float: left;
    display: block;
}
.sub-img-container-float-derecha{
    float: right;
    margin: 1rem 0 1rem 3rem;
}
.img-en-big-container {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.video-en-big-container{
    height: 100%;
    width: 100%;
}
.sub-header-container{
    height: fit-content;
    width: auto;
    display: block;
    float: left;
    color: #525252;
    padding: 0;
    font-size: 1.5rem;
    position: relative;
    top: 0%;
    z-index: 1;
    margin: 1em 0 0 0;
    font-family: Arial, Helvetica, sans-serif, Courier, monospace

}
.sub-header-container h3{
    margin:0;
    padding: 0;
}
.sub-parrafo-container{
    color: #363636;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0;
    margin-top: 8rem;
    float: top;
    max-height: 7rem;
    width: auto;
    overflow: auto;
    text-align: start;
}
.un-logo-container{
    background: transparent;
    writing-mode: vertical-lr;
    color: white;
    margin: 2rem auto 4rem auto;
    min-width: fit-content;
    height: fit-content;
    /*text-orientation: upright;*/              /*<-- esto es para q quede presentable*/
    
}
.barrita-separadora:before{
	content: "";
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
	width: 70%;
	height: 2px;
	background-image: linear-gradient(to right, transparent, #3B3488, transparent);
}

.logo-text{
    background: #6ae9ff;
    top: 0;
    height: fit-content;
    width: fit-content;
    padding: 0 1rem 0 1rem;
    margin: 0;
    font-size: 3.5rem;
    font-family: 'quicksand',Arial;
    writing-mode: horizontal-tb;
}
.un-text {
    float: left;
    background: #00b7ff;
    display: block;
    padding: .5rem;
    height: fit-content;
    font-size: 2.5rem;
    font-weight: 400;
    text-orientation: sideways;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    letter-spacing: .01rem;
}
.un-logo-text-block{
    height: fit-content;
    width: fit-content;
    background: #0087cb;
}

#block-img-container {
    position: relative;
    justify-content: center;
    align-content: center;
    min-height: fit-content;
    margin: .1px 0;
}
#block-img-container:hover >#block, .texto-sobre-imagen{
    filter: contrast(1.8);
}
#block {
    background-image: url("../img/colores-vertical.jpg");
    filter: saturate(3.5) blur(0px) contrast(5);
    overflow: hidden;
    /* IE */
    -moz-opacity: 0.7;
    /* Mozilla */
    opacity: 0.7;
    /* CSS3 */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: ease-in-out;
}
.texto-sobre-imagen > h2{
    margin-top: 5%;
    color: #e3cfe0;
    width: 100%;
    height: fit-content;
    text-shadow:    0px 4px 3px rgba(0,0,0,0.5),
                    0px 8px 13px rgba(0,0,0,0.4),
                    0px 18px 23px rgba(0,0,0,0.2);
}









/*
.by-me-container{
    
    margin: 10rem auto;
    position: absolute; 
    transform: translateX(-50%);
    left: 50%;
    text-align: center;        
    width: fit-content;
    height: fit-content;
    background: transparent;
}
.by-me-text{
    word-spacing: .1rem;
    font-family: Arial,'Courier New', Courier, monospace, Arial;
    font-size: 2rem;
    font-weight: 50;
    color: #4e4e4e;
    
}
#hidden{
    display: none;
}
#me-logo{
    display: block;
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    margin-top: 10px;
    height: 175px;
    width: auto;
}
#and-this-turtle-text{
    font-size: 1rem;
    font-family: monospace, Arial;
    font-weight: 100;
    margin: auto;
    display: block;
}
.by-me-text:hover + #hidden{*/
                                    /*el + hace q tambien se cuente el elemento con id me-logo que SUCEDA en codigo html a by-me-text, si el orden de estos esta invertido no anda*/
    /*display: block;*/                 /*y la otra forma de hacerlo es si pongo el hover en el by-me-container y no necesito el mas, pero cuando la imagen se muestra si hovereo sobre*/
                                    /*la imagen, entonces se sigue mostrando y yo quiero q solo pase si hovereo sobre el texto*//*

}*/
.header-contacto{
    font-size: 3rem;
    color: #646464;
}
.paragraph-contacto{
    font-size: 1.3rem;
    color: #636363;
}
footer{
    font-size: 1rem;
    background: #06013D;
    color: #929292;
    text-align: center;
    padding: 3rem 0;
    
}
footer p{
    margin:0;
    padding:0;
}







.overlay {
    position: fixed;
    z-index: 600;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: opacity .05s;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
  
.modal {
    margin: 7rem auto;
    padding: 1rem 3rem;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    height: fit-content;
    position: relative;
    transition: all 5s ease-in-out;
}
  
.modal h2 {
    margin-bottom: 1rem;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
    border-bottom: 1px solid rgba(51, 51, 51, 0.11);
}
.modal .content{
    color: #333;
    padding-bottom: 2rem;
}
.modal .close-modal-button {
    position: absolute;
    top: 0.5rem;
    right: 1.5rem;
    transition: all .2s;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.modal .close-modal-button:hover {
    color: #1304BD;
}
.modal .content {
    max-height: 30%;
    overflow: auto;
    font-size: 1.2rem;
    color: #333;
    font-weight: 400;
}


.contacto-container{
    padding: 0 6rem 0 6rem;
    margin: 0 5% 0 5%;
    
}
.contacto-container h1{
    font-size: 3rem;
    font-family: 'quicksand', 'Times New Roman', Times, serif;
}
.contacto-container p{
    font-size: 1.3rem;
    font-family: Arial, 'Times New Roman', Times, serif;
}
.barrita-separadora-izquierda{
    margin-bottom: 5rem;
}
.barrita-separadora-izquierda:before{
    content: "";
    position: absolute;
    left: 0;
	width: 70%;
	height: 2px;
	background-image: linear-gradient(to right,#3B3488, #3B3488, transparent);
}
.barrita-separadora-footer:before{
    content: "";
    position: absolute;
    margin-left: 50%;
    transform: translateX(-50%);
	width: 100%;
    height: 1px;
    background: #3B3488;
}







.wrapper{
    display: inline-block;
    padding: 0;
    width: 100%;
    text-align: center;
    bottom: 0;
    padding: 2rem 0 10rem 0;
}

.wrapper .fa{
    padding: .5rem;
    font-size: 3rem;
    min-height: fit-content;
    min-width: fit-content;
    width: 3rem;
    height: auto;
    color: #006B70;
    background: transparent;
    text-align: center;
    text-decoration: none;
    border-radius: 2rem;
}
.fa:hover {
    opacity: 0.7;
}

/*
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter{
    background: #55ACEE;
    color: white;
}
.fa-reddit{
    background: #ff5700;
    color: white;
}
.fa-linkedin{    
    background: #007bb5;
    color: white;
}
.fa-google{
    background: #dd4b39;
    color: white;
}
.fa-instagram{
    background: #405DE6;
    color: white;
}
.fa-youtube{
    background: #c4302b;
    color: white;
}
.fa-github{
    background: #333;
    color:white;
}
*/



/*
.wrapper .fa{
    text-shadow: 15px 13.36px 8.896px #303030,0 0px 0px rgb(112, 112, 112);
}*/

#logo-principal{
    height: 15rem;
    width: auto;
}

.cards-container{
    position: relative;
    justify-content: center;
    align-content: center;
    width: 75%;
    display: flex;
    padding: 2% 15%;

}
.card-img-top{
    object-fit: cover;
    width: 100%;
    border-style: none;
}
.card{
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-out;
    margin: 5%;
    flex: 1;
    max-width: 50%;
    background: #fff;
}
.card:hover{
    box-shadow: 10px 10px rgba(17, 189, 166, 0.4),
              20px 20px rgba(17, 189, 166, 0.3),
              30px 30px rgba(17, 189, 166, 0.2),
              40px 40px rgba(17, 189, 166, 0.1),
              50px 50px rgba(17, 189, 166, 0.05);
}
.card-body{
    padding: 0 5% 10% 5%;
    color: #333;
}
.card-body > .card-title{
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10% 0 0;
    padding-bottom: 5%;
    border-bottom: 1px solid hotpink;
}
.card-body > .card-text{
    text-align: justify;
    margin-bottom: 2rem;
    max-height: 15rem;
    overflow: hidden;
}
.btn{
    text-decoration: none;
    padding: 2% 5%;
    color: #6200ee;
    font-size: .8rem;
    font-weight: 800;
    border-radius: .3rem;
    text-transform: uppercase;
    transition: all 0.3s;
    border: 1.25px solid #6200ee;
    font-family: 'quicksand', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial;
}
.btn:hover{
    background: #6300ee2c;
}
.btn:focus{
    color: #fff;
    background: #6200ee;
}